.whyChooseUs-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 17rem;
  /* margin-right: 20px; */
  padding: 30px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 2px rgb(237, 226, 226);
}

.card-heading {
  color: rgb(48, 48, 171);
  margin-bottom: 0px;
}

.card-description {
  text-align: center;
}
.heading {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  border-bottom-color: rgb(48, 48, 171);
  border-bottom-width: 4px;
  border-bottom-style: solid;
  /* border-bottom: 1dvh; */
}

.faculty-image {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 720px) {
  .cards-container {
    display: flex;
    flex-direction: column;
  }

  .card-1 {
    margin-bottom: 10px;
  }
}
